<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deadle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .guess-history-entry { margin-bottom: 20px; }
        .guess-history-detail { margin-left: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <!-- Logo and title -->
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" class="logo">
        <h1>Guess the Historical Figure</h1>

        <!-- About button to open modal -->
        <button id="aboutBtn" style="background: none; border: none; padding: 0;">
            <img src="{{ url_for('static', filename='img/about.png') }}" alt="About" style="width: 100px; height: auto;">
        </button>
        
        <!-- Help button to open modal -->
        <button id="helpBtn" style="background: none; border: none; padding: 0;">
            <img src="{{ url_for('static', filename='img/help.png') }}" alt="Help" style="width: 100px; height: auto;">
        </button>

        <!-- Stats button to open modal -->
        <button id="statsBtn" style="background: none; border: none; padding: 0;">
            <img src="{{ url_for('static', filename='img/stats.png') }}" alt="Stats" style="width: 100px; height: auto;">
        </button>

        <!-- Stats modal structure -->
        <div id="statsModal" class="modal">
            <div class="modal-content">
                <span class="close" data-modal="stats">&times;</span>
                <h1>Stats</h1>
                <p>Username: <span id="username">{{ user_stats['username'] }}</span></p>
                <p>Current guesses count: <span id="currentGuessCount">{{ user_stats['current_guess_count'] }}</span></p>
                <p>Total guesses count: <span id="numGuesses">{{ user_stats['num_guesses'] }}</span></p>
                <p>Games count: <span id="numGames">{{ user_stats['num_games'] }}</span></p>
                <p>Successful games: <span id="numWins">{{ user_stats['num_wins'] }}</span></p>
                <p>Date joined: <span id="dateJoined">{{ user_stats['date_joined'] }}</span></p>
            </div>
        </div>

        <!-- Guess form -->
        <form method="post" class="guess-form">
            <input type="text" name="guess" list="name-options" autocomplete="off" required>
            <datalist id="name-options">
                {% for name in my_list %}
                <option value="{{ name }}">
                {% endfor %}
            </datalist>
            <button type="submit">Guess</button>
        </form>

        <!-- Feedback message -->
        {% if feedback and not session.get('reveal', False) %}
            <p>{{ feedback|safe }}</p>
        {% endif %}

        <!-- Guess feedback table -->
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Death</th>
                    <th>Occupation</th>
                    <th>Country</th>
                    <th>Continent</th>
                </tr>
            </thead>
            <tbody>
                {% for guess in guess_history %}
                    <tr>
                        <td>{{ guess['name'] }}</td>
                        <td>{{ guess['gender_feedback']|safe }}</td>
                        <td>{{ guess['death_feedback'] }} {{ guess['death_img']|safe }}</td>
                        <td>{{ guess['occupation_feedback']|safe }}</td>
                        <td>{{ guess['country_feedback']|safe }}</td>
                        <td>{{ guess['continent_feedback']|safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <!-- Reveal information -->
        {% if session.get('reveal', False) %}
            <div class="reveal-info">
                <h2>The historical figure was:</h2>
                <p>Name: {{ session['target_info']['Name'] }}</p>
                <p>Gender: {{ session['target_info']['gender'] }}</p>
                <p>Country: {{ session['target_info']['countryName'] }}</p>
                <p>Continent: {{ session['target_info']['continentName'] }}</p>
                <p>Death Year: {{ session['target_info']['deathyear'] }}</p>
                <p>Occupation: {{ session['target_info']['occupation'] }}</p>
                {% if session.get('image_filename') %}
                    <img src="{{ url_for('static', filename='img/wiki_img/' + session['image_filename']) }}" alt="Historical Figure" style="max-width:100%;height:auto;" />
                {% endif %}
                {% if feedback == 'Correct! You have guessed the right historical figure.' %}
                    <p style="color: green;">{{ feedback }}</p>
                    <button onclick="window.location.href='{{ url_for("reset") }}';">Play Again</button>
                {% endif %}
            </div>
        {% endif %}


        <!-- Reset game button -->
        {% if guess_history|length >= MAX_ATTEMPTS %}
            <button onclick="window.location.href='/reset';">Reset Game</button>
        {% endif %}

        <!-- Modal structure -->
        <div id="aboutModal" class="modal">
            <div class="modal-content">
                <span class="close" data-modal="about">&times;</span>
                <h1>About This Game</h1>
                <p>Welcome to Deadle! Deadle is a web game inspired by Wordle, where players guess historical figures based on given clues. With each attempt, players receive feedback, helping them narrow down their options. Ideal for history enthusiasts, Deadle offers an educational and entertaining experience by connecting players with notable personalities from various eras and regions.</p>
            </div>
        </div>

        <div id="helpModal" class="modal">
            <div class="modal-content">
                <span class="close" data-modal="help">&times;</span>
                <h1>How to play?</h1>
                <p>1. Guess the historical figure based on the provided clues (start with a random one).</p>
                <p>2. Use the clues about gender, occupation, and of course the death year to narrow down your options.</p>
                <p>3. Submit your guess and see if you’re correct!</p>
                <p>4. Try to do so with as few tries as possible.</p>
                <p>5. A new historical figure is released every day at midnight!</p>
                <h2>Color Meanings</h2>
                <div class="color-meaning">
                    <div class="color-item">
                        <span class="color-box green"></span> The guessed year is within 10 years of the correct year.
                    </div>
                    <div class="color-item">
                        <span class="color-box yellow"></span> The guessed year is 10 to 500 years off from the correct year.
                    </div>
                    <div class="color-item">
                        <span class="color-box red"></span> The guessed year is more than 500 years off from the correct year.
                    </div>
                    <div class="color-item">
                        <span class="color-box grey"></span> <strong>"Still alive"</strong> Used when the guessed year is before the actual death year.
                    </div>
                    <div class="color-item">
                        <span class="color-box grey"></span> <strong>"Already dead"</strong> Used when the guessed year is after the actual death year.
                    </div>
                </div>
            </div>
        </div>
        



    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close" data-modal="login">&times;</span>
            <h2>Login Required</h2>
            <form method="POST" action="{{ url_for('login') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
