<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deadle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .guess-history-entry { margin-bottom: 20px; }
        .guess-history-detail { margin-left: 20px; }
    </style>
</head>
<body>
    <div class="container">
    <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo" class="logo">
        <h1>Guess the Historical Figure</h1>
        <form method="post" class="guess-form">
            <input type="text" name="guess" list="name-options" autocomplete="off" required>
            <datalist id="name-options">
                {% for name in my_list %}
                <option value="{{ name }}">
                {% endfor %}
            </datalist>
            <button type="submit">Guess</button>
        </form>
        {% if feedback %}
            <p>{{ feedback|safe }}</p>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Death</th>
                    <th>Occupation</th>
                    <th>Country</th>
                    <th>Continent</th>
                    <th>City</th>
                    <th>Direction</th>
                </tr>
            </thead>
            <tbody>
                {% for guess in guess_history %}
                    <tr>
                        <td>{{ guess['name'] }}</td>
                        <td>{{ guess['gender_feedback']|safe }} </td>
                        <td>{{ guess['death_feedback'] }} {{ guess['death_img']|safe }}</td>
                        <td>{{ guess['occupation_feedback']|safe }}</td>
                        <td>{{ guess['country_feedback']|safe }}</td>
                        <td>{{ guess['continent_feedback']|safe }}</td>
                        <td>{{ guess['city_name'] }}</td>
                        <td>{{ guess['direction_image']|safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if session.get('reveal', False) %}
            <div class="reveal-info">
                <h2>The historical figure was:</h2>
                <p>Name: {{ session['target_info']['Name'] }}</p>
                <p>Gender: {{ session['target_info']['gender'] }}</p>
                <p>City: {{ session['target_info']['birthcity'] }}</p>
                <p>Country: {{ session['target_info']['countryName'] }}</p>
                <p>Continent: {{ session['target_info']['continentName'] }}</p>
                <p>Death Year: {{ session['target_info']['deathyear'] }}</p>
                <p>Occupation: {{ session['target_info']['occupation'] }}</p>
                {% if session.get('image_filename') %}
                    <img src="{{ url_for('static', filename='img/wiki_img/'+ session['image_filename']) }}" alt="Historical Figure" style="max-width:100%;height:auto;" />
                {% endif %}
            </div>
        {% endif %}

        {% if guess_history|length >= 4 %}
            <button onclick="window.location.href='/reset';">Reset Game</button>
        {% endif %}
    </div>
</body>
</html>
